.env
papers
context.txt
chroma_db
semantic_search_db
jupyter/
docs/
__pycache__
multimodal_vectorstore
results/
option1_multimodal_vectorstore
option1_figures/
figures/
option3_images/
option3_vectordatabase/
option3_db/
images/
data_base/
elements.txt
segments.txt
docstore
data/
codebase_chunks.json
answer.txt
data.json
retrieval.txt
data.json
extracted_images/
images.json
reasoning_response.txt
circuit_analysis_log.txt
circuit_analysis_summary.txt
