.env
papers
context.txt
chroma_db
semantic_search_db
jupyter/
docs/
__pycache__
multimodal_vectorstore
results/
option1_multimodal_vectorstore
option1_figures/
figures/
option3_images/
option3_vectordatabase/
option3_db/
images/

