.env
papers
context.txt
chroma_db
semantic_search_db
jupyter/
docs/
__pycache__
multimodal_vectorstore
results/
option1_multimodal_vectorstore
option1_figures/
figures/
option3_images/
option3_vectordatabase/
option3_db/
images/
data_base/
elements.txt
segments.txt
docstore
data/
codebase_chunks.json
answer.txt
data.json
retrieval.txt
data.json
extracted_images/
images.json
reasoning_response.txt
circuit_analysis_log.txt
circuit_analysis_summary.txt
table_db/
table_results/
agent_db/
output/
context_output.txt
query_results/
ieee_cookies.json
output_images/
google.json
agent1_db/
agent2_db/
query_results1/
query_results3/
queries.json
queries1.json
agent3_db/
query_results4/
finalAgent_db/
final_query_results/
gpt/tools/comparision.py
gpt/tools/cost_analysis_results.json
gpt/tools/data_collection.py
gpt/tools/messages1.py
gpt/tools/plot_results.py
claude/tools/comparision.py
claude/tools/cost_analysis_results.json
claude/tools/data_collection.py
claude/tools/messages1.py
claude/tools/plot_results.py
tokens_vs_latency.png
literature