langchain
langchain-community
langchain-openai
langchain-core
langchain-chroma
openai
chromadb
tiktoken
pypdf
python-dotenv
rapidocr-onnxruntime
pdf2image
unstructured
pillow
pydantic
lxml
matplotlib
tiktoken
open_clip_torch
torch
brew install tesseract
brew install poppler
